.Weather {
  font-family: Arial, sans-serif;
  text-align: left;
  /*border: 1px solid #6e6e6e7d;*/
  border: 1px solid #cca0ff;
  color: #585858;
  background-color: white;
  border-radius: 10px;
  margin: 60px auto 0;
  padding: 16px;
}

.Weather form .btn {
  background-color: #973cfe;
  border-color: #973cfe;
  transition: all 300ms ease-in-out;
}
.Weather form .btn:hover {
  opacity: 0.8;
}

.Weather .form-control {
  background-color: #f7f3fd;
  border-color: #cca0ff;
}

.unit a {
  color: #973cfe;
}

footer a {
  color: #973cfe;
}
.Weather h1 {
  padding-top: 20px;
  color: black;
}
.Weather ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 400;
}

.Weather .temperature {
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  margin-left: 10px;
  position: relative;
  top: 20px;
  color: black;
}

.Weather .unit {
  color: #202124;
  display: inline-block;
  font-size: 16px;
  position: relative;
  top: -13px;
  margin-left: 1px;
  line-height: 1;
}

.Weather img {
  height: 64px;
  width: 64px;
}
